#col-first{
	background:red;
}
#col-last{
	background:red;
}
img{ 
	display:block;
}

tr {
	line-height: 0;
}

thead tr{
	line-height:1;
}

tfoot tr{
	line-height:1				
}

.building-small, .building-large, .building-largest, .terrain{
	position:absolute;
	display:block;
	z-index:99999;	
}