#col-first{
	background:red;
}
#col-last{
	background:red;
}
img{ 
	display:block;
}
tr {
	line-height: 0;
}
th {
	width:16px;
	text-align:center;
}

td {
	height:16px;
	width:16px;
}

thead tr{
	line-height:1;
}

tfoot tr{
	line-height:1				
}

#customwarsboard {
	margin: 1em;
}

.building-small, .building-large, .building-largest, .terrain{
	position:absolute;
	display:block;
	z-index:99999;	
}

.building-small{
	width:16px;
	height:16px;
}

.building-large{
	width:16px;
	height:21px;	
}

.building-largest{
	width:16px;
	height:31px;	
}

.terrain{
	width:16px;
	height:21px;	
}






.x06y12{
	margin:143px 0 0 128px;
}

.x07y09{
	margin:190px 0 0 144px;
}

.x09y08{
	margin:206px 0 0 176px;
}

.x09y12{
	margin:143px 0 0 176px;
}

.x05y07-large{
	margin:217px 0 0 112px;		
}

.x05y08-large{
	margin:202px 0 0 112px;		
}

.x07y06-large{
	margin:238px 0 0 144px;	
}

.x07y04-large{
	margin:268px 0 0 144px;
}

.x06y05-large{
	margin:251px 0 0 128px;		
}

.x08y05-large{
	margin:249px 0 0 160px;
}


.x06y12-large{
	margin:139px 0 0 128px;
}

.x09y12-large{
	margin:139px 0 0 176px;
}



.x07y06-largest{
	margin:224px 0 0 144px;	
}

.x10y06-large{
	margin:234px 0 0 192px;	
}

.x11y09-large{
	margin:187px 0 0 208px;	
}


.x12y05-large{
	margin:252px 0 0 224px;	
}

.x13y06-large{
	margin:235px 0 0 240px;	
}

.x14y12-large{
	margin:138px 0 0 256px;		
}

.x15y11-large{
	margin:156px 0 0 272px;	
}

.x17y05-large{
	margin:252px 0 0 304px;	
}

.x19y08-large{
	margin:203px 0 0 336px;	
}

.x19y12-large{
	margin:139px 0 0 336px;	
}

.x20y04-large{
	margin:268px 0 0 352px;	
}

.x22y04-large{
	margin:268px 0 0 384px;	
}

.x22y05-large{
	margin:252px 0 0 384px;	
}

.x25y09-large{
	margin:187px 0 0 432px;	
}