#messages {
	width:220px;
	background-color:Beige;
	margin:1em;
	padding:1em;
	display:block;
}

#messagesHistory{
	width:220px;
	background-color:Beige;
	margin:1em;
	padding:1em;
	display:block;
}

#gameboard{
	cursor: pointer;
	float:left;
}

div#happyPath {
margin-left:250px;
width:200px;
float:right;
}

#block1{
padding:0 0 0 0;
margin: 0 0 0 0;
height:200px;
}

#block2{
padding:0 0 0 0;
margin: 0 0 0 1em;
height:200px;
}

#block2 h2 {
margin-bottom:1em;
font-weight:bold;
}